<!--Nab bar-->
<nav class="navbar navbar-expand-lg navbar-light py-3 our-bg-color">
  <div class="container-fluid">
    <a class="navbar-brand  text-white" routerLink="home">Brownies Cake Shop</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" routerLink="">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" routerLink="login">Login</a>
        </li>

      </ul>
      <div class="d-flex fs-4">
        <a class="nav-link text-white" routerLink="listProduct"><i class="bi bi-search"></i></a>
        <a class="nav-link text-white" routerLink="listProduct"><i class="bi bi-heart-fill"></i></a>
        
        <a class="nav-link text-white" routerLink="listproducts"><i class="bi bi-cart-fill"></i><span class="cart_num">{{totalInCart}}</span></a>
     
      </div>
    </div>
  </div>
</nav>
