.our-bg-color{
    background: #F3CEC242;

}

.cart_num{
   border-radius: 50%;
    position: relative;
    top: -13px;
    left: -8px;
    background-color: rgb(218, 47, 47);
    padding: 4px 16px;
    font-size: small;
    color: #fff;
}