<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- HEADER -->
<header>
  <div class="shadow ">
  <img src="../../../assets/pex.jpg" class="img-fluid" alt="Responsive image">
  </div>
  
  <link rel="stylesheet" href="/path/to/cdn/bootstrap.min.css" />
  <script src="/path/to/cdn/bootstrap.bundle.min.js"></script>

<link>

</header>
<!-- /HEADER -->






<!-- SECTION -->
<!--div class="section">
  
  <div class="container">
    
    <div class="row">
      
      <div class="col-md-4 col-xs-6">
        <div>
          <div class="shop-img">
            <img src="../../../assets/p6.jpg" alt="" />
          </div>
          <div class="shop-body">
            <h3>Cakes</h3>
            <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
     
      <div class="col-md-4 col-xs-6">
        <div class="">
          <div class="shop-img">
            <img src="../../../assets/p4.jpg" alt="" />
          </div>
          <div class="shop-body">
            <h3>Cupcakes</h3>
            <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
      
      <div class="col-md-4 col-xs-6">
        <div class="mx-auto">
          <div class="shop-img">
            <img src="../../../assets/p3.jpg" alt="" />
          </div>
          <div class="shop-body">
            <h3>Brownies</h3>
            <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
      
    </div>
    
  </div>
 
</div>
</SECTION -->

<div class="container mt-5">
  <div class="row">
      <!--div class="col-12">
          <h2 class="mt-4 mb-4">Bootstrap 5 Cards</h2>
      </div-->
      <div class="col-md-6 col-lg-4 ">
          <!-- Bootstrap 5 card box -->
          <div class="card-box">
              <div class="card-thumbnail">
                  <img src="../../../assets/cake.jpg" class="img-fluid" alt="">
              </div>
              <h3><a href="#" class="mt-2 text-textColor">Cakes</a></h3>
              <p class="text-secondary">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
              <a href="#" class="btn btn-color float-right text-white">Shop Now>></a>
          </div>
      </div>

      <div class="col-md-6 col-lg-4">
          <!-- Bootstrap 5 card box -->
          <div class="card-box">
              <div class="card-thumbnail">
                  <img src="../../../assets/cupcake.jpg" class="img-fluid" alt="">
              </div>
              <h3><a href="#" class="mt-2 text-textColor">Cupcakes</a></h3>
              <p class="text-secondary">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
              <a href="#" class="btn btn-color float-right text-white">Shop Now >></a>
          </div>
      </div>

      <div class="col-md-6 col-lg-4">
          <!-- Bootstrap 5 card box -->
          <div class="card-box">
              <div class="card-thumbnail">
                  <img src="../../../assets/bun.jpg" class="img-fluid" alt="">
              </div>
              <h3><a href="#" class="mt-2 text-textColor">Buns</a></h3>
              <p class="text-secondary">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
              <a href="#" class="btn btn-color float-right text-white">Shop Now >></a>
          </div>
      </div>

      <div class="col-md-6 col-lg-4">
          <!-- Bootstrap 5 card box -->
          <div class="card-box">
              <div class="card-thumbnail">
                  <img src="../../../assets/brownies.jpg" class="img-fluid" alt="">
              </div>
              <h3><a href="#" class="mt-2 text-textColor">Brownies</a></h3>
              <p class="text-secondary">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
              <a href="#" class="btn btn-color float-right text-white">Shop Now >></a>
          </div>
      </div>

      <div class="col-md-6 col-lg-4">
          <!-- Bootstrap 5 card box -->
          <div class="card-box">
              <div class="card-thumbnail">
                  <img src="../../../assets/biscuits.jpg" class="img-fluid" alt="">
              </div>
              <h3><a routerLink="" class="mt-2 text-textColor">Biscuits</a></h3>
              <p class="text-secondary">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
              <a href="#" class="btn btn-color float-right text-white">Shop Now >></a>
          </div>
      </div>

      <div class="col-md-6 col-lg-4">
          <!-- Bootstrap 5 card box -->
          <div class="card-box">
              <div class="card-thumbnail">
                  <img src="../../../assets/bread.jpg" class="img-fluid" alt="">
              </div>
              <h3><a routerLink="shop"class="mt-2 text-textColor">Bread</a></h3>
              <p class="text-secondary">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
              <a  class="btn btn-color float-right text-white" routerLink="shop" >Shop Now >></a>
          </div>
      </div>
  </div>
</div>






<!-- NEWSLETTER -->
<div id="newsletter" class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <div class="newsletter">
          <p>Sign Up for <strong>SPECIALS</strong></p>
          <form>
            <input class="input " type="email" placeholder="Enter Your Email" />
            <button class="newsletter-btn">
              <i class="fa fa-envelope "></i> Subscribe
            </button>
          </form>
          <ul class="newsletter-follow">
            <li>
              <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-instagram"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-pinterest"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /NEWSLETTER -->

<!-- FOOTER -->
<footer id="footer">
  <!-- top footer -->
  <div class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">About Us</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut.
            </p>
            <ul class="footer-links">
              <li>
                <a href="#"><i class="fa fa-map-marker"></i>7 Quinci str, Millpark</a>
              </li>
              <li>
                <a href="#"><i class="fa fa-phone"></i>071-955-1984</a>
              </li>
              <li>
                <a href="#"><i class="fa fa-envelope-o"></i>email@dadevs.co.za</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Categories</h3>
            <ul class="footer-links">
              <li><a href="#">Biscuit</a></li>
              <li><a href="#">Cakes</a></li>
              <li><a href="#">Cupcakes</a></li>
              <li><a href="#">Brownies</a></li>
              <li><a href="#">Buns</a></li>
              <li><a href="#">Bread</a></li>
            </ul>
          </div>
        </div>

        <div class="clearfix visible-xs"></div>

        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Information</h3>
            <ul class="footer-links">
              <li><a >About Us</a></li>
              <li><a >Contact Us</a></li>
              <li><a >Privacy Policy</a></li>
              <li><a >Orders and Returns</a></li>
              <li><a >Terms & Conditions</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Service</h3>
            <ul class="footer-links">
              <li><a routerLink="/login">My Account</a></li>
              <li><a routerLink="/cart">View Cart</a></li>
              <li><a >Wishlist</a></li>
              <li><a >Track My Order</a></li>
              <li><a >Help</a></li>
            </ul>
          </div>
        </div>
      </div>
      <span class="copyright text-center">
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright &copy;
        <script>
          document.write(new Date().getFullYear());
        </script>
        All rights reserved 
        
      </span>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /top footer -->

  
</footer>
<!-- /FOOTER -->