<div class="card mb-3">
  <img class="card-img-top" src="../../../assets/pex.jpg" alt="Card image cap">
  <div class="card-body">
    <h3 class="card-title">Do you like our cakes?</h3>
    <p class="card-text">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
      ut laoreet dolore magna aliquam erat volutpat.
      Ut wisi enim ad minim veniam, quis nostrud
      exerci tation ullamcorper suscipit lobortis
      nisl ut aliquip ex ea commodo cequat.</p>
  </div>
</div>

<div class="container row row-cols-1 row-cols-md-2 row-cols-lg-3 mx-auto mt-1">
  <div class="col p-2">
    <div class="card border-0 p-3">
      <img src="../../../assets/p3.jpg" class="img-responsive" alt="..." />
      <div class="card-body px-0">
        <p class="fs-5 mb-1">Cakes</p>
        <p class="mb-3">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        </p>
        <button class="btn cust-btn d-block mx-auto">Read more</button>
      </div>
    </div>
  </div>

  <div class="col p-2">
    <div class="card border-0 p-3">
      <img src="../../../assets/p4.jpg" class="img-responsive" alt="..." />
      <div class="card-body px-0">
        <p class="fs-5 mb-1">Cupcakes</p>
        <p class="mb-3">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        </p>
        <button class="btn cust-btn d-block mx-auto">Read more</button>
      </div>
    </div>
  </div>

  <div class="col p-2">
    <div class="card border-0 p-3">
      <img src="../../../assets/p6.jpg" class="img-responsive" alt="..." />
      <div class="card-body px-0">
        <p class="fs-5 mb-1">Name</p>
        <p class="mb-3">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        </p>
        <button class="btn cust-btn d-block mx-auto">Read more</button>
      </div>
    </div>
  </div>
</div>

<!--div class="card-group">
  <div class="card">
    <img class="card-img-top" src="../../../assets/p4.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
        This content is a little bit longer.</p>
      <div class="mx-auto" style="width: 200px;">
      <a href="#" class="btn btn-primary btn-lg btn-warning  active" role="button" aria-pressed="true">Read more</a>
    </div>

    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../../../assets/p3.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>

      <div class="mx-auto" style="width: 200px;">
        <a href="#" class="btn btn-primary btn-lg btn-warning  active" role="button" aria-pressed="true">Read more</a>
      </div>
      
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../../../assets/p6.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
        <div class="mx-auto" style="width: 200px;">
          <a href="#" class="btn btn-primary btn-lg btn-warning  active" role="button" aria-pressed="true">Read more</a>
        </div>
    </div>
  </div>
</div-->


<footer class="footer p-3 text-center our-bg-color">
  <span class="text-muted">&copy; company name</span>
</footer>