<div class="align-items-center h-100">
  <form class="mx-auto bg-light mt-5 p-2" style="width: 400px">
    <p class="text-center">
      <i class="bi bi-person-fill fs-1 text-center"></i>
    </p>
    <div class="col-auto m-2">
      <label class="visually-hidden" for="autoSizingInputGroup">Email</label>
      <div class="input-group">
        <i class="bi bi-envelope-fill fs-4 px-2 border rounded-start"></i>
        <input
          type="text"
          class="form-control p-2"
          id="autoSizingInputGroup"
          placeholder="Email"
        />
      </div>
    </div>

    <div class="col-auto m-2 mt-3">
      <label class="visually-hidden" for="autoSizingInputGroup">Email</label>
      <div class="input-group">
        <i class="bi bi-lock-fill fs-4 px-2 border rounded-start"></i>
        <input
          type="password"
          class="form-control p-2"
          id="autoSizingInputGroup"
          placeholder="Password"
        />
      </div>
    </div>

    <div class="mx-auto mt-3">
      <button class="mx-auto btn btn-primary d-block">LOGIN</button>
    </div>
    <p class="text-center mt-3">Forgot Password?</p>
    <p class="text-center mb-3 pb-3">Register</p>
  </form>
</div>
