
<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <ul class="breadcrumb-tree">
          <li><a routerLink="/home">Home</a></li>
          <li><a routerLink="/shop">Shop</a></li>
        </ul>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /BREADCRUMB -->
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 px-5 mt-3 container mx-auto" *ngFor="let product of products, index as i">

  <div class="col pt-3">
    <p class="fw-bold fs-3" *ngIf="i == 0"><strong>Description</strong></p>
    <div class="card border-0">
      <div class="d-flex">
        <img
       style="max-height: 100px"
        src="{{product.image}}"
        class="img-responsive"
        alt="..."
      />
      <p class="fw-bold mb-1 mx-5">{{product.name}}</p>
      </div>
    </div>
  </div>

  <div class="col pt-3">
    <p class="fw-bold" *ngIf="i == 0"><strong>Price</strong></p>
    <p class="">
      <span ><span>R </span>{{ product.price }}<span>.00</span></span>
    </p>
  </div>


  <div class="col pt-3">
    <p class="fw-bold" *ngIf="i == 0"><strong>Total</strong> </p>
    <p class="">
      <span ><span>R </span>{{ product.subtotal }}<span>.00</span></span>
    </p>
  </div>

  <div class="col pt-3 d-block">
    <p class="fw-bold" *ngIf="i == 0"><strong>Quantity</strong></p>
    <p class="">
      <span (click)="minus(product)" class="border rounded-start p-2 px-2" style="cursor: pointer"
        >-</span
      >
      <span class="border-top border-bottom px-4 py-2"> {{product.quantity}}</span>
      <span (click)="addToCart(product)" class="border rounded-end p-2 px-2" style="cursor: pointer">+</span>
      
      <button class="ml-3 btn btn-sm bg-danger text-white"  (click)="RemoveItem(product)">delete</button>
    </p>
  </div>
  
</div>
<div class="container px-5 mt-5 d-flex justify-content-between">
  <div class="px-2">
  <p><strong>Total Price: <span>R </span>{{totalPriceInCart}}<span>.00</span></strong></p>
    <p><strong>Total Items:  {{totalItems}}</strong></p>
    <p><strong>Total Quantity: {{totalInCart}}</strong></p>
  </div>
  <div class="px-5">
    <a  class="btn btn-primary" routerLink="../login">Checkout</a>
  </div>
</div>
